<h1 style= padding:10px>Arithmetic Sequences:</h1>
<div>
	<ul>
		<li>A <b>sequence of numbers</b> is a list of numbers (finite or infinite) arranged in an order that obeys a certain rule.</li> 
		<li>Each number in the sequence is called a <b>term</b></li>
        <li>In an <b>arithmetic sequence</b> you can find each term by adding (or subtracting) the same number to the term before</li>
	</ul>
</div>	



<div>
<h3>The formula for the nth term of a arithmetic sequence is: </h3>

</div> 
$U_{n} = U_{1} + (n-1)d$

<div style="background-color: #BCDBF5 ; padding: 10px;">
<h2>Instructions:</h2>

<ol>
  <li>The next cell of python code defines a function to return the nth term of an arithmetic series if given the common difference, first term in the series, and the number (n) of the term we want to return.  Run the cell below to see it in action on d=2, u_1=2, and n=6.</li>
    <li>Take a closer look at line 8 this is our function call. A <b>function call</b> tells the python interpretor to run our function on the arguments we supply.  We are also printing the output to the console with a print() statement, so that we can see the result</li>
  <li>See if you can spot where we pass in the <b>arguments</b> which are the values that we pass to a function when it is called.</li>
</ol>

</div>

In [ ]:
#d = common difference 
#u_1 = first term in series
#n = term
#returns the nth term of an arithmetic series
def nth_term_arth_sequence(d, u_1, n): 
    return u_1 + (n-1)*d 

print (nth_term_arth_sequence(2, 2, 6))

<div style="background-color: #BCDBF5 ; padding: 10px;">
<h2>Instructions:</h2>

<ol>
    <li>Run the next cell.</li>
	<li>Scroll to the bottom of the cell and read the output of the console.  This is called an error message and it is telling you that the python interpretor can't process the code, specifically, that our function call on line 8 is missing arguments. </li> 
  <li>Let's fix it! Go to line 8 and inside the parenthesis following nth_term_arth_sequence type the arguments separated by commas and in order for d=4, u_1 =6 , and n =12.  Hint: if you are stuck take a look at the previous example's line 8.</li>
  <li>After making the change run the cell again and see what happens. </li> 
  <li>What is the 6th term in the sequence?</li>

</ol>

</div>

In [ ]:
#d = common difference 
#u_1 = first term in series
#n = number of terms 
#returns the nth term of an arithmetic series
def nth_term_arth_sequence(d, u_1, n): 
    return u_1 + (n-1)*d 

print (nth_term_arth_sequence())

<div>
<h3>The sum up to n terms of an arithmetic sequence is given by the formula:</h3>
    $S_{n} = \frac{n}{2} (2U_{1} + (n-1)d)$  
</div>

 <div style="background-color: #BCDBF5 ; padding: 10px;">
<h2>Instructions:</h2>

<ol>
    <li>Go to line 8 in the cell below and add the function call for sum_up_to_n() for d=3, u_1 = 5, and d = 80. In this line you will be assigning the value that the function call returns to the variable sum_n</li>

</ol>

</div>

In [ ]:
#u_1 = first term
#u_n = last term 
#n = number of terms 
#returns the sum up to the nth term in an arithmetic
def sum_up_to_n(d, u_1, n):
    return n/2*(2*u_1 + (n-1)* d)

sum_n = # add the function call after the "=" and before the "#"
print(sum_n)

<div>
<h3>Another formula for the sum to n terms of an arithmetic sequence: </h3>
    $S_{n} = \frac{n}{2} (U_{1} + U_{n})$  
    <h3>* Use this form when you have the first term and the last term of the sequence.</h3>    
</div>


 <div style="background-color: #BCDBF5 ; padding: 10px;">
<h2>Instructions:</h2>

<ol>
		<li>This time we will take a closer look at the function we are defining and have you finish writing the function. Take another look at the formula above this cell and think about how you can convert it to Python</li>
    <li>Go to line 7 in the cell below and fill in the formula using n, u_1, u_n.  The table of Python operators is supplied below for your reference. If you feel stuck take a look at the previous examples.</li>

</ol>
<table align="left">
  <tr>
    <th>Operator</th>
    <th>Python Operator</th>
    <th>Example</th>
  </tr>
  <tr>
    <td>Addition</td>
    <td>+</td>
    <td>8 + 8 =16</td>
  </tr>
  <tr>
    <td>Subtraction</td>
    <td>-</td>
    <td>10 - 5 = 5</td>
  </tr>
  <tr>
    <td>Multiplication</td>
    <td>*</td>
    <td>8 * 8 = 64</td>
  </tr>
  <tr>
    <td>Division</td>
    <td>/</td>
    <td>8 / 2 = 2</td>
  </tr>
  <tr>
    <td>Exponent</td>
    <td>**</td>
    <td>4**2 = 16</td>  
  </tr>
</table>
</div>

In [ ]:
#u_1 = first term
#u_n = last term 
#n = number of terms 

#returns the sum up to the nth term of the term of an arithmetic series
def sum_up_to_n(n, u_1, u_n):
    return  #fill in the formula above for sum up to n 

sum_n = sum_up_to_n(22, -3, 81)
print(sum_n)

<div style="background-color: #BCDBF5 ; padding: 10px;">
<h2>Instructions:</h2>

<ol>
 <li>This cell bellow contains a python function to output an arithmetic sequence up to the nth term.  Run the cell to see the output of calling the function with d = 1/2, u_1 = 3, and n = 6.</li>
  <li>After you see the output go back to the example and change the parameters to output d = 1/3, u_1 = 1, and n = 10.  Run the cell again and see how the output changes.</li>
    <li>One difference to note between this function and the previous functions is the use of a <b>for loop</b> which will execute the block of code following it n times.</li>
    <li>On line 12 make another function call to output the arithmetic sequence with a common difference of -5, a first term of 20, and 10 terms total.  
</ol>

</div>

In [ ]:
#prints arithmetic sequence up to the nth term 
#d = common difference 
#u_1 = first term in series
#n = number of terms 
def output_arth_seq_up_to(d, u_1, n):
    for i in range(1, n+1):
        print (u_1 + (i-1)*d, end= " ")
    print()
    

output_arth_seq_up_to(1/2,3,6)

<div align="right" style="font-size: 20px">To go to the next problem click -> <a href='Geometric_Student_Version.ipynb' style="background-color: #a1e3a1 ; padding: 2px;color:black;font-size: 20px">Next</a></div>