## Arithmetic Sequences:

## instructions: 
1. 
2. 
3.

In [31]:
#prints arithmetic sequence up to the nth term 
def output_arth_seq_up_to(d, u_1, n):
    for i in range(1, n+1):
        print (u_1 + (i-1)*d, end= " ")

output_arth_seq_up_to(.5,3,6)

3.0 3.5 4.0 4.5 5.0 5.5

<h3>The formula for the nth term of a geometric sequence is: </h3>
<p>U<sub>n</sub> = U<sub>1</sub>+ (n-1)d</p>

In [32]:
#returns the nth term of an arithmetic series
def nth_term_arth_sequence(d, u_1, n): 
    return u_1 + (n-1)*d 

u_n = nth_term_arth_sequence(2, 2, 6)

print(u_n)

12

In [33]:
#returns the sum up to the nth term in an arithmetic
def sum_up_to_n(n, d, u_1):
    s_n = n/2*(2*u_1 + (n-1)* d)
    return s_n

s_n = sum_up_to_n(80, 3, 5)
print(s_n)

9880.0

In [34]:
#u_1 = first term
#u_n = last term 
#n = number of terms 

#returns the sum up to the nth term of the term of an arithmetic series
def sum_up_to_n(n, u_1, u_n):
    s_n = n/2*(u_1 + u_n)
    return s_n
s_n = sum_up_to_n(22, -3, 81)
print(s_n)

858.0

## Geometric Sequences

In [35]:
#u_1 = first term in sequence
# r = common ratio
# n = number of terms  



#prints geometric sequence up to the nth term 
def output_geo_seq_up_to(u_1, r, n):
    #this for loop will run from 1 to n (meaning we will print the 1st-nth term in the sequence)
    for i in range(1, n+1):
        print (u_1 * r ** (i-1) , end= " ")

output_geo_seq_up_to(2, 3, 5)

2 6 18 54 162

In [36]:
#returns the nth term in a geometric series        
def nth_term_geo_sequence(u_1, r, n):
    return u_1 * r **(n-1)

s_n = nth_term_geo_sequence(2, 3, 5)
print(s_n)

162

In [37]:

#returns the sum of a geometric sequence up to the nth term 
def sum_up_to_n_geo(u_1, r, n):
    return (u_1* (r**n-1)) / (r - 1)

s_n = sum_up_to_n_geo(6, 1/3, 10)
print (s_n)
print(round(s_n, 0))

8.999847584209723
9.0

In [38]:
#u_1 = first term 
#u_n = last term 
#n = number of terms 

#
def sum_up_to_n_geo(u_1, r, n):
    return (u_1 * (1- r**n)) / (1 - r)


s_n = sum_up_to_n_geo(6, 1/3, 10)
print(s_n)

8.999847584209723

## Currency Conversions

## Compound Interest