<h1 style= padding:10px>Arithmetic Sequences:</h1>
<div>
	<ul>
		<li>A <b>sequence of numbers</b> is a list of numbers (finite or infinite) arranged in an order that obeys a certain rule.</li> 
		<li>Each number in the sequence is called a <b>term</b></li>
        <li>In an <b>arithmetic sequence</b> you can find each term by adding (or subtracting) the same number to the term before</li>
	</ul>
</div>	



<div>
<h3>The formula for the nth term of a arithmetic sequence is: </h3>
<p>U<sub>n</sub> = U<sub>1</sub>+ (n-1)d</p>
</div>

<div style="background-color: #BCDBF5 ; padding: 10px;">
<h2>Instructions:</h2>

<ol>
  <li>The next cell of python code defines a function to return the nth term of an arithmetic series if given the common difference, first term in the series, and the number (n) of the term we want to return.  Run the cell below to see it in action on d=2, u_1=2, and n=6.</li>
    <li>Take a closer look at line 8 this is our function call. A <b>function call</b> tells the python interpretor to run our function.  We are also printing the output to the console with a print() statement, so that we can see the result.</li>
  <li>See if you can spot where we pass in the <b>arguments</b> which are the values that we give to a function when it is called.</li>
</ol>

</div>

In [8]:
#d = common difference 
#u_1 = first term in series
#n = term
#returns the nth term of an arithmetic series
def nth_term_arth_sequence(d, u_1, n): 
    return u_1 + (n-1)*d 

print (nth_term_arth_sequence(2, 2, 6))

12

<div style="background-color: #BCDBF5 ; padding: 10px;">
<h2>Instructions:</h2>

<ol>
    <li>Run the next cell.</li>
	<li>Scroll to the bottom of the cell and read the output of the console.  This is called an error message and it is telling you that the python interpretor can't process the code, specifically, that our function call on line 8 is missing arguments. </li> 
  <li>Let's fix it! Go to line 8 and inside the parenthesis following nth_term_arth_sequence type the arguments separated by commas and in order for d=4, u_1 =6 , and n =12.  Hint: if you are stuck take a look at the previous example's line 8.</li>
  <li>After making the change run the cell again and see what happens. </li> 
  <li>What is the 6th term in the sequence?</li>

</ol>

</div>

In [9]:
#d = common difference 
#u_1 = first term in series
#n = number of terms 
#returns the nth term of an arithmetic series
def nth_term_arth_sequence(d, u_1, n): 
    return u_1 + (n-1)*d 

print (nth_term_arth_sequence(4,6,12))

50

<div>
<h3>The sum up to n terms of an arithmetic sequence is given by the formula:</h3>
    <p>S<sub>n</sub> = n/2(2U<sub>1</sub>+ (n-1)d)</p>
</div>

 <div style="background-color: #BCDBF5 ; padding: 10px;">
<h2>Instructions:</h2>

<ol>
    <li>Go to line 8 in the cell below and add the function call for sum_up_to_n() for d=3, u_1 = 5, and d = 80. In this line you will be assigning the value that the function call returns to the variable sum_n</li>

</ol>

</div>

In [10]:
#u_1 = first term
#u_n = last term 
#n = number of terms 
#returns the sum up to the nth term in an arithmetic
def sum_up_to_n(d, u_1, n):
    return n/2*(2*u_1 + (n-1)* d)

sum_n = sum_up_to_n(3, 5, 80)# add the function call after the "=" and before the "#"
print(sum_n)

9880.0

<div>
<h3>Another formula for the sum to n terms of an arithmetic sequence: </h3>
    <p>S<sub>n</sub> = n/2(U<sub>1</sub>+ U<sub>n</sub>)</p>
    <h3>* Use this form when you have the first term and the last term of the sequence.</h3>    
</div>


 <div style="background-color: #BCDBF5 ; padding: 10px;">
<h2>Instructions:</h2>

<ol>
		<li>This time we will take a closer look at the function we are defining and have you finish writing the function. Take another look at the formula above this cell and think about how you can convert it to Python</li>
    <li>Go to line 7 in the cell below and fill in the formula using n, u_1, u_n.  Remember that in Python division is "/", multiplication is "*" and addition is "+".</li>

</ol>

</div>

In [11]:
#u_1 = first term
#u_n = last term 
#n = number of terms 

#returns the sum up to the nth term of the term of an arithmetic series
def sum_up_to_n(n, u_1, u_n):
    return n/2*(u_1 + u_n) #fill in the formula above for sum up to n 

sum_n = sum_up_to_n(22, -3, 81)
print(sum_n)

858.0

<div style="background-color: #BCDBF5 ; padding: 10px;">
<h2>Instructions:</h2>

<ol>
 <li>This cell bellow contains a python function to output an arithmetic series up to the nth term.  Run the cell to see the output of calling the function with d = 1/2, u_1 = 3, and n = 6.</li>
  <li>After you see the output go back to the example and change the parameters to output d = 1/3, u_1 = 1, and n = 10.  Run the cell again and see how the output changes.</li>
    <li>One difference to note between this function and the previous functions is the use of a <b>for loop</b> which will execute the block of code following it n times.</li>
</ol>

</div>

In [12]:
#prints arithmetic sequence up to the nth term 
#d = common difference 
#u_1 = first term in series
#n = number of terms 
def output_arth_seq_up_to(d, u_1, n):
    for i in range(1, n+1):
        print (u_1 + (i-1)*d, end= " ")

output_arth_seq_up_to(1/2,3,6)

3.0 3.5 4.0 4.5 5.0 5.5

## Geometric Sequences

In [13]:
#u_1 = first term in sequence
# r = common ratio
# n = number of terms  



#prints geometric sequence up to the nth term 
def output_geo_seq_up_to(u_1, r, n):
    #this for loop will run from 1 to n (meaning we will print the 1st-nth term in the sequence)
    for i in range(1, n+1):
        print (u_1 * r ** (i-1) , end= " ")

output_geo_seq_up_to(2, 3, 5)

2 6 18 54 162

In [14]:
#returns the nth term in a geometric series        
def nth_term_geo_sequence(u_1, r, n):
    return u_1 * r **(n-1)

s_n = nth_term_geo_sequence(2, 3, 5)
print(s_n)

162

In [15]:

#returns the sum of a geometric sequence up to the nth term 
def sum_up_to_n_geo(u_1, r, n):
    return (u_1* (r**n-1)) / (r - 1)

s_n = sum_up_to_n_geo(6, 1/3, 10)
print (s_n)
print(round(s_n, 0))

8.999847584209723
9.0

In [16]:
#u_1 = first term 
#u_n = last term 
#n = number of terms 

#
def sum_up_to_n_geo(u_1, r, n):
    return (u_1 * (1- r**n)) / (1 - r)


s_n = sum_up_to_n_geo(6, 1/3, 10)
print(s_n)

8.999847584209723

## Currency Conversions 
Example 13: Zoran wants to change 200 Singapore dollars (SGD) to euros.  The exchange rate is 1SGD = 0.588 euros. The bank charges 2% commission.  Calculate how many euros Zoran receives.

In [17]:
def convert_currency_bank_buying(exchange_rate, amount):
    return exchange_rate * amount

def calc_commission(commission_rate, amount):
    return commission_rate * amount

amount = 200
commision = .02
exchange_rate = 0.588

commission = calc_commission(.02, 200)
print ("Commission: %d SGD" % commission)
amount_to_change = amount - commission 
print ("The amount to convert after commission: %dSGD to euros" % amount_to_change)
converted_amount = convert_currency_bank_buying(exchange_rate, amount_to_change)

print ("Zoran receives %.2f euros"% converted_amount)

Commission: 4 SGD
The amount to convert after commission: 196SGD to euros
Zoran receives 115.25 euros

In [18]:
def convert_currency_bank_selling(exchange_rate, amount):
    return amount / exchange_rate

## Compound Interest

In [19]:
#pv = present value
#r = rate 
#n = number of years
#k = number of compounding periods per year
def calc_future_value(pv, r, n, k):
    return pv * (1 + r/(k*100))**(n*k)
    
fv = calc_future_value(6000, 4, 8, 1)
print (round(fv, 2))

8211.41

In [20]:
#